body {
  font-size: 16px;
  font-family: "Poppins", serif;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

header {
  background-color: #beadfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  height: 78px;
}

.profile-picture img {
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  object-fit: cover;
}

nav ul li {
  text-decoration: none;
  list-style: none;
}

nav ul li a,
nav ul li a:hover,
nav ul li a:visited,
nav ul li {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}

nav ul li a {
  font-size: 1.25em;
  color: #ffffff;
  font-weight: 700;
}

.search-bar {
  background-color: #ffffff;
  border-radius: 20px;
  height: 37px;
  width: 188px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.search-bar input {
  border: none;
  outline: none;
  width: 80%;
  margin-left: 10px;
  font-family: "Poppins", serif;
}

/* About us */
.about-us {
  background-color: #8e8ffa;
  height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid #000000;
  padding: 0 30%;
}

.about-us h1,
.about-us h3 {
  color: #000000;
}

.about-us h1 {
  font-weight: 800;
  font-size: 3.375em;
}

.about-us h2,
.about-us h3 {
  text-align: center;
}

.about-us h2 {
  font-size: 3.375em;
  color: #ffffff;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5em;
}

.about-us h3 {
  font-weight: 400;
  font-size: 1.375em;
}

/* Quote */
.quote {
  background-color: #000000;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote p {
  font-weight: 500;
  font-style: italic;
  font-size: 3.375em;
  color: #ffffff;
}

/* Review */
.reviews {
  display: flex;
  flex-direction: column;
  padding: 4em;
  background-color: #c780fa;
  height: 763px;
  align-items: center;
}

.reviews-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.review-header {
  font-weight: 700;
  font-size: 3.375em;
  margin-bottom: 1.5em;
}

.review-card {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  background-color: #ecf9ff;
  border: 3px solid #000000;
  border-radius: 20px;
  height: 432px;
  padding: 2em;
  box-sizing: border-box;
  gap: 2em;
}

.review-card img {
  width: 158px;
  height: 158px;
  border-radius: 50%;
  border: 3px solid #000000;
}

.review-card p {
  font-weight: 500;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}

.reviewer-name {
  font-weight: 400;
  font-size: 1.5625em;
}
