body {
    font-size: 16px;
    font-family: "Poppins", serif;
    font-style: normal;
    margin: 0;
}

header{
    background-color: #BEADFA;
}

.profile-picture img{
    width: 44px;
    height: 44px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    object-fit: cover;

}
